body{
    background-image: 
    url(assets/images/dust_scratches.png);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}


.navbar-brand{
    background-color: teal;
    margin-left:10%;
}
#navbarSupportedContent{
    margin-right: 20%;
}
p{
    font-size: large;

}
footer{
    width: 100%;
    text-align: center;
    background-color: #777777;
    border-top-style: solid;
    border-color: teal;
    border-width: 3px;
    margin: 0px;
    padding: 1.5%;
    position: fixed;
    bottom:0px;
    
}
.btn{
    position: absolute;
    padding:10;
    left: 15px;
    top:70%;
    width:200px;
    height: 40px;
    color:white;
    background-color: teal;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn1{
    padding:10;
    left: 7%;
    top:70%;
    width:198px;
    height: 40px;
    color:white;
    background-color: teal;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 0px;
}